<h1>Meetings</h1>
<div class="meeting_list"> 
	<h2>Upcoming Meetings</h2> 
	<ul> 
		<% for meeting in @upcoming_meetings %> 
		<li><%= link_to h(meeting.name), meeting_path(:id => meeting.id) %></li>
		<% end %> 
		<%= no_meetings(@upcoming_meetings) %>
	</ul> 
</div>

<p class="add"> 
	<%= link_to "add meeting", new_meeting_path %>
</p>
 
<div class="meeting_list"> 
	<h2>Past Meetings</h2> 
	<ul> 
		<% for meeting in @past_meetings %> 
		<li><%= link_to h(meeting.name), meeting_path(:id => meeting.id) %></li>
		<% end %> 
		<%= no_meetings(@upcoming_meetings) %>
	</ul> 
</div> 

